body{
color:#344E41;
background-color:#dad7cd;
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
box-sizing:border-box;
}
.wrapper{
width:100%;
max-width:900px;
margin:auto;
text-align:center;
box-sizing:border-box;
}
.left, .right{
float:left;
width:20%;
}
.center{
float:left;
width:60%;
background-color:#588157;
}
@media screen and (max-width:800px){
.left, .center, .right{
width:100%;
 } 
}
footer{
font-size:10px;
}
table, tr, td{
border:1px solid black;
}
table{
margin:auto;
}
ol, ul{
margin:0;
padding:0;
list-style-position:inside;
}
li{
margin:5px 0;
}
nav{
display:flex;
justify-content:center;
gap:10px;
}
nav a{
color:#344E41;
text-decoration:none;
padding:8px 16px;
transition:0.3s;
border-radius:5px;
border:1px solid #344E41;
}
nav a:hover{
background-color:#344E41;
border-radius:5px;
}
button{
padding:8px 16px;
border-radius:5px;
font-size:20px;
}
form{
text-align:left;
}